$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

$base-color:  #0dc441;

@font-face {
  font-family: yofont;
  src: url("/DS/images/iconfonts/iconfont.woff") format("woff"), url("/DS/images/iconfonts/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/DS/images/iconfonts/footer.woff") format("woff"), url("/DS/images/iconfonts/footer.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/DS/images/iconfonts/jia.woff") format("woff"), url("/DS/images/iconfonts/jia.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/DS/images/iconfonts/comment
.woff") format("woff"), url("/DS/images/iconfonts/comment
.ttf") format("truetype");
}